<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./Partials/Head") %>
    <title>Home Page</title>
</head>

<body>
    <%- include("./Partials/Nav") %>

    <!-- Blog Grid -->
    <div class="container mt-4">
        <div class="row">
            <% blogs.forEach(element => { %>
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="<%= element.coverImage %>" class="card-img-top" alt="Cover Image">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title"><%= element.title %></h5>
                            <a href="/blog/<%= element.id %>" class="btn btn-primary mt-auto">Read More</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

    <%- include("./Partials/Scripts") %>
</body>

</html>
